<div class="container pages-index-container">
    <div class="card pages-index-card">
      <img src="<%= @blog.photo %>" class="card-img-top pages-index-img" alt="<%= @blog.seo_title %>">
      <div class="card-body">
        <h5 class="card-title pages-index-title"><%= @blog.title %></h5>
        <p class="card-text pages-index-text"><%= @blog.content %></p>
        <br>
        <p class="content-views">Wyświetlenia: <%= @blog.views %></p>
      </div>
    </div>
</div>