<div class="container sessions-container">
  <h1 class="sessions-title mb-5">Edytuj konto</h1>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs form-group mb-3">
      <%= f.input :name, required: true, autofocus: true, label: "Nazwa użytkownika", input_html: { class: "form-control session-form mb-3" } %>
      <%= f.input :email, required: true, autofocus: true, input_html: { class: "form-control session-form mb-3" } %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
                  hint: "*zostaw pusty formularz, jeśli nie chcesz zmieniać hasła",
                  required: false, label: "Hasło",
                  input_html: { autocomplete: "new-password", class: "form-control session-form mb-3" } %>
      <%= f.input :password_confirmation,
                  required: false, label: "Potwierdź hasło",
                  input_html: { autocomplete: "new-password", class: "form-control session-form mb-3" } %>
      <%= f.input :current_password,
                  hint: "*wymagane aktualne hasło, aby potwierdzić zmiany",
                  required: true, label: "Aktualne hasło",
                  input_html: { autocomplete: "current-password", class: "form-control session-form mb-3" } %>
    </div>

    <div class="form-actions mb-3">
      <%= f.button :submit, "Zapisz", class: "btn btn-primary sessions-btn" %>
    </div>
  <% end %>

  <h2 class="sessions-title">Usuń moje konto</h2>

  <p>Nie zadowolony? <%= link_to "Usuń moje knto", registration_path(resource_name), data: { confirm: "Are you sure?" }, class: "sessions-link", method: :delete %></p>

  <%= link_to "Wróć", :back, class: "sessions-link" %>
</div>