<h1>Panel Admina - Pokoje</h1>

<% @rooms.each do |room| %>
  <%= room.id %><br>
  <%= room.name %><br>
  <%= room.description %><br>
  <%= room.size %><br>
  <%= room.base_price %><br>
  <%= link_to 'Zobacz', room_path(room) %>
  <%= link_to 'Edytuj', edit_admins_room_path(room) %>
  <%= link_to 'Usuń', admins_room_path(room), method: :delete %>
  <hr>
<% end %>