<div class="heading-bg">
  <h1 class="heading-title">Pokoje</h1>
  <%= link_to 'Nowy pokój', new_admins_room_path, class: "btn btn-primary" %>
</div>

<div class="flickr_pagination mt-4 mb-4">
  <%= will_paginate @pages, :container => false %>
</div>

<div class="admin-content">
  <div class="row">
    <% @rooms.each do |room| %>
      <div class="col-sm-6 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Apartament <%= room.name %></h5>
            <p>Id #<%= room.id %><br></p>
            <div class="room-card-img">
              <img src="<%= room.photo %>" class="card-img" alt="">
            </div>
            <p class="card-text"><%= room.description %></p>
            <p class="card-text">Wielkość: <%= room.size %></p>
            <p class="card-text">Cena: <%= room.base_price %></p>
            <%= link_to 'Zobacz', room_path(room), class: "btn btn-success" %>
            <%= link_to 'Edytuj', edit_admins_room_path(room), class: "btn btn-primary" %>
            <%= link_to 'Usuń', admins_room_path(room), class: "btn btn-danger", method: :delete %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="flickr_pagination mt-4 mb-4">
  <%= will_paginate @pages, :container => false %>
</div>