<h1>Panel Admina</h1>

<% @pages.each do |page| %>
  <div class="card text-center mb-3">
    <div class="card-header">
      Strona # <%= page.id %>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= page.title %></h5>
      <h6 class="card-title"><%= page.seo_title %></h6>
      <p class="card-text"><%= page.content %></p>
      <%= link_to 'Zobacz', page_path(page), class: "btn btn-success" %>
      <%= link_to 'Edytuj', edit_admins_page_path(page), class: "btn btn-primary" %>
      <%= link_to 'Usuń', admins_page_path(page), class: "btn btn-danger", method: :delete %>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>
<% end %>
