<div class="heading-bg">
  <h1 class="heading-title">Strony</h1>
  <%= link_to 'Stwórz nową stronę', new_admins_page_path, class: "btn btn-primary" %>
</div>

<div class="container pages-index-container">
  <h1 class="mb-5">Published</h1>
  <% @pages.each do |page| %>
    <div class="card pages-index-card">
      <img src="<%= page.photo %>" class="card-img-top pages-index-img" alt="<%= page.seo_title %>">
      <div class="card-body">
        <h5 class="card-title pages-index-title"><%= page.title %></h5>
        <p class="card-text pages-index-text"><%= page.content %></p>
        <%= link_to 'Zobacz', page_path(page), class: "btn btn-success" %>
        <%= link_to 'Edytuj', edit_admins_page_path(page), class: "btn btn-primary" %>
        <%= link_to 'Usuń', admins_page_path(page), class: "btn btn-danger", method: :delete %>
      </div>
    </div>
  <% end %>
</div>
