<h1>Rezerwacje</h1>

<% @bookings.each do |booking| %>
  <div class="card text-center mb-3">
    <div class="card-header">
      Rezerwacja # <%= booking.id %><br>
    </div>
    <div class="card-body">
      <p class="card-text">Nazwa pokoju: <%= booking.room.name %></p>
      <p class="card-text">Data przyjazdu: <%= booking.start_date %></p>
      <p class="card-text">Data wyjazdu: <%= booking.end_date %></p>
      <p class="card-text">Adres email: <%= booking.email%></p>
      <p class="card-text">Imię: <%= booking.firstname %></p>
      <p class="card-text">Nazwisko: <%= booking.lastname %></p>
      <p class="card-text">Ulica: <%= booking.street %></p>
      <p class="card-text">Numer apartamentu: <%= booking.apartment_number %></p>
      <p class="card-text">Kod pocztowy: <%= booking.postcode %></p>
      <p class="card-text">Miasto: <%= booking.city %></p>
      <p class="card-text">Rodo <%= booking.rodo%></p>
      <p class="card-text">Cena: <%= booking.price%></p>
      <%= link_to 'Zobacz', booking_path(booking), class: "btn btn-success" %>
    </div>
    <div class="card-footer text-muted mb-3">
      Data dodania
    </div>
  </div>
<% end %>