<h1>Panel Admina - Kategorie</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nazwa</th>
      <th scope="col">Opcje</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <th scope="row"><%= category.id %></th>
        <td><%= category.name %></td>
        <td>
          <%= link_to 'Zobacz', category_path(category), class: "btn btn-success" %>
          <%= link_to 'Edytuj', edit_admins_category_path(category), class: "btn btn-primary" %>
          <%= link_to 'Usuń', admins_category_path(category), class: "btn btn-danger", method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>