<section class="attractions">
  <div class="wrapper">
    <h2>Atrakcje</h2>
  </div>

  <div class="container attractions-container">
    <div class="row row-cols-1 row-cols-lg-3">
      <% @pages.each do |page| %>
        <div class="col mb-4">
          <div class="card h-100 text-center attraction-card">
            <img src="<%= page.photo %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= page.title %></h5>
              <p class="card-text"><%= page.content %></p>
            </div>
            <div class="card-footer">
              <%= link_to 'Czytaj dalej', page_path(page), class: "btn btn-success attraction-card-btn" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="btn-container">
    <%= link_to 'Wszystkie atrakcje', pages_path, class: "btn btn-success attraction-card-btn" %>
  </div>

</section>