<section class="blogs">
  <div class="wrapper">
    <h2>Blog</h2>
  </div>

  <div class="container blogs-container">
    <div class="row row-cols-1 row-cols-lg-3">
      <% @blogs.each do |blog| %>
        <div class="col mb-4">
          <div class="card h-100 text-center blog-card">
            <img src="<%= blog.photo %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= blog.title %></h5>
              <p class="card-text"><%= blog.content %></p>
            </div>
            <div class="card-footer">
              <%= link_to 'Czytaj dalej', blog_path(blog), class: "btn btn-success blog-card-btn" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="btn-container">
    <%= link_to 'Wszystkie artykuły', blogs_path, class: "btn btn-success blog-card-btn" %>
  </div>
</section>