<h1>test</h1>

<% @pages.each do |page| %>
  <%= page.id %> <br>
  <%= page.title %> <br>
  <%= page.seo_title %> <br>
  <%= page.content %> <br>
  <%= page.views %> <br>
  <%= link_to 'Zobacz', page_path(page) %>
  <hr>
<% end %>

