<div class="container sessions-container">
  <h1 class="sessions-title mb-5">Logowanie</h1>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs form-group mb-3">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email", class: "form-control session-form mb-3" } %>
      <%= f.input :password,
                  required: false, label: "Hasło",
                  input_html: { autocomplete: "current-password", class: "form-control session-form mb-3" } %>

      <div class="form check ml-4">
        <%= f.input :remember_me, label: "Pamiętaj mnie", input_html: { class: "form-check-input" }, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions mb-3">
        <%= f.button :submit, "Zaloguj", class: "btn btn-primary sessions-btn" %>
      </div>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>