<h1>Pokoje</h1>


<div class="row mt-3">
  <% @rooms.each do |room| %>
    <div class="col-sm-6 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Apartament <%= room.name %></h5>
          <p>Id #<%= room.id %><br></p>
          <div class="room-card-img">
            <img src="<%= room.photo %>" class="card-img" alt="">
          </div>
          <p class="card-text"><%= room.description %></p>
          <p class="card-text">Wielkość: <%= room.size %></p>
          <p class="card-text">Cena: <%= room.base_price %></p>
          <%= link_to 'Zobacz', room_path(room), class: "btn btn-success" %>
        </div>
      </div>
    </div>
  <% end %>
</div> 
