<%= simple_form_for @booking, url: [:admins, @booking] do |form| %>
  <%= form.input :room_id, collection: @rooms, include_blank: "Wybierz pokój", label: "Nazwa pokoju", input_html: { class: "form-control mb-3" } %>
  <div class="form-group">
    <small class="form-text text-muted">Data przyjazdu:</small>
    <%= form.date_field :start_date, class: 'form-control datetimepicker-input', 'data-target': "#datetimepicker4" %>
    <small class="form-text text-muted">Data wyjazdu:</small>
    <%= form.date_field :end_date, class: 'form-control datetimepicker-input', 'data-target': "#datetimepicker4" %>
  </div>
  <%= form.input :email, label: "Adres email", input_html: { class: "form-control mb-3" } %>
  <%= form.input :firstname, label: "Imię", input_html: { class: "form-control mb-3" } %>
  <%= form.input :lastname, label: "Nazwisko", input_html: { class: "form-control mb-3" } %>
  <%= form.input :street, label: "Ulica", input_html: { class: "form-control mb-3" } %>
  <%= form.input :apartment_number, label: "Numer pokoju", input_html: { class: "form-control mb-3" } %>
  <%= form.input :postcode, label: "Kod pocztowy", input_html: { class: "form-control mb-3" } %>
  <%= form.input :city, label: "Miasto", input_html: { class: "form-control mb-3" } %>
  <%= form.input :rodo, label: "RODO", input_html: { class: "form-control mb-3" } %>
  <%= form.input :price, label: "Cena", input_html: { class: "form-control mb-3" } %>
  <%= form.input :state, collection: ['created', 'accepted', 'rejected'], include_blank: false, label: "Status", input_html: { class: "form-control mb-3" } %>
  <%= form.button :submit, value: "Zapisz", class: "btn btn-primary create-btn mt-3" %>
<% end %>