<%= simple_form_for @blog, url: [:admins, @blog] do |form| %>
  <%= form.input :title, label: "Tytuł", input_html: { class: "form-control mb-3" } %>
  <%= form.input :seo_title, label: "Tytuł SEO", input_html: { class: "form-control mb-3" } %>
  <%= form.input :content, label: "Treść", input_html: { class: "form-control mb-3" } %>
  <%= form.input :category_id, collection: @categories, include_blank: "Wybierz kategorię", label: "Kategoria", input_html: { class: "form-control mb-3" } %>
  <%= form.input :user_id, collection: @users, include_blank: "Wybierz uźytkownika", label: "Użytkownik", input_html: { class: "form-control mb-3" } %>
  <%= form.input :state, collection: @blogs, include_blank: "Status", label: "Published", input_html: { class: "form-control mb-3" } %>
  <%= form.input :photo, as: :file, label: "Zdjęcie", input_html: { class: "form-control mb-3" } %>
  <div class="form-image">
    <img src="<%= @blog.photo %>" class="form-img" alt="">
  </div>
  <%= form.button :submit, value: "Zapisz", class: "btn btn-primary create-btn mt-3" %>
<% end %>