<div class="heading-bg">
  <h1 class="heading-title">Artykuły</h1>
  <div class="heading-button-box">
    <%= link_to 'Opublikowane', published_admins_blogs_path, class: "btn btn-light" %>
    <%= link_to 'Nieopublikowane', unpublished_admins_blogs_path, class: "btn btn-light" %>
  </div>
  <%= link_to 'Stwórz nowy artykuł', new_admins_blog_path, class: "btn btn-primary" %>
</div>

<div class="flickr_pagination mt-4 mb-4">
  <%= will_paginate @pages, :container => false %>
</div>

<div class="container pages-index-container">
  <div class="flickr_pagination mt-4 mb-4">
    <%= will_paginate @blogs, :container => false %>
  </div>
  <% @blogs.each do |blog| %>
    <div class="card pages-index-card">
      <img src="<%= blog.photo %>" class="card-img-top pages-index-img" alt="<%= blog.seo_title %>">
      <div class="card-body">
        <h5 class="card-title pages-index-title"><%= blog.title %></h5>
        <p class="card-text pages-index-text"><%= blog.content %></p>
        <%= link_to 'Zobacz', blog_path(blog), class: "btn btn-success" %>
        <%= link_to 'Edytuj', edit_admins_blog_path(blog), class: "btn btn-primary" %>
        <%= link_to 'Usuń', admins_blog_path(blog), class: "btn btn-danger", method: :delete %>
      </div>
    </div>
  <% end %>
  <div class="flickr_pagination mt-4 mb-4">
    <%= will_paginate @blogs, :container => false %>
  </div>
</div>

