<nav class="navbar navbar-expand-lg">
  <div class="container navbar-container">
    <div class="logo-container">
      <%= image_tag('logo-removebg-preview.png', :alt => 'Logo firmy', class: 'main-logo') %>
      <%= link_to 'SunriseHotel', root_path, class: "navbar-brand" %>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse links-container" id="navbarSupportedContent">
      <div class="navbar-links ml-auto">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to 'Home', root_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to 'Atrakcje', pages_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to 'Blog', blogs_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to 'Kategorie', categories_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to 'Pokoje', rooms_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user"></i> Konto
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="admin-panel-link">
                <% if user_signed_in? %>
                  <i class="fas fa-user-circle admin-link-icon" style="display: none"></i>
                  <%= link_to 'Zaloguj', new_user_session_path, class: "nav-link", style: 'display: none' %>
                <% else %>
                  <i class="fas fa-user-circle admin-link-icon"></i>
                  <%= link_to 'Zaloguj', new_user_session_path, class: "nav-link" %>
                <% end %>
              </div>
              <div class="admin-panel-link">
                <% if user_signed_in? %>
                  <i class="fas fa-user-circle admin-link-icon"></i>
                  <%= link_to 'Admin Panel', admins_pages_path, class: "nav-link" %>
                <% end %>
              </div>
              <div class="admin-panel-link">
                <% if user_signed_in? %>
                  <i class="fas fa-cog admin-link-icon"></i>
                  <%= link_to 'Edytuj', edit_user_registration_path, class: "nav-link" %>
                <% end %>
              </div>
              <div class="dropdown-divider"></div>
              <div class="log-out-link">
                <% if user_signed_in? %>
                  <i class="fas fa-sign-out-alt admin-link-icon"></i>
                  <%= link_to 'Log out', destroy_user_session_path, class: "nav-link",  method: :delete %>
                <% end %>
              </div>
            </div>
          </li>
        </ul>
      </div>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Szukaj" aria-label="Search">
          <button class="search-btn" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
  </div>
</nav>