<!DOCTYPE html>
<html>
  <head>
    <title>Rezerwacje</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/8632156806.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="admin-body">
    <%= render 'layouts/admin_nav' %>

    <div class="admin-container">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
    <%#= render 'layouts/footer' %>

  <script>
      // //--- NAVIGATION
      // const nav = document.querySelectorAll('.admin-nav')
      // const navBtn = document.querySelectorAll('.burger-btn')
      //
      // const handleNav = () => {
      //     nav.classList.toggle('admin-nav--active')
      // }
      //
      // navBtn.addEventListener('click', handleNav)
  </script>
  </body>
</html>